h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

:host {
  --primary-color: rgb(16, 131, 254);
  --border-color: rgb(212, 219, 226);
  --text-color: rgb(11, 15, 20);
  --gray-color: rgb(66, 87, 108);
  --msg-payload-active-bg: rgb(186 250 255);
}

* {
  color: var(--text-color);
}

div {
  box-sizing: border-box;
}

#simm-chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

chat-header {
  height: 52px;
  border-bottom: 1px solid var(--border-color);
  padding: 0 15px;
}

chat-body {
  flex: 1;
  overflow-y: auto;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
}

chat-body .chat-body__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

chat-body .chat-body__scroll-loading {
  padding: 16px 0;
}

chat-body.loading {
  visibility: hidden;
  max-height: 0;
  padding: 0;
}

chat-loading {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

chat-avatar {
  height: 100%;
  display: flex;
  column-gap: 10px;
  align-items: center;
}
chat-avatar .chat-avatar__img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

chat-avatar .chat-avatar__img img {
  width: 40px;
}

chat-avatar .chat-avatar__user {
  display: flex;
  flex-direction: column;
}

chat-avatar .chat-avatar__user .chat-avatar__user__name {
  color: var(--text-color);
  font-size: 16px;
}

chat-avatar .chat-avatar__user .chat-avatar__user__role {
  color: var(--gray-color);
  font-size: 12px;
}

chat-box-message {
  border-top: 1px solid var(--border-color);
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

chat-box-message.loading {
  display: none;
}

chat-box-message .chat-btn-send {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

chat-box-message textarea {
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  height: 16px;
  padding: 0;
  max-height: 300px;
  font-size: 14px;
  flex: 1;
}

.message-wrapper {
  display: flex;
}

.message-wrapper.message-wrapper--right {
  justify-content: end;
}

.message-item {
  display: flex;
  column-gap: 10px;
  align-items: center;
  max-width: 480px;
}

.message-item__payload {
  background-color: #d6d6d6;
  border-radius: 6px;
  padding: 8px;
}

.message-wrapper.message-wrapper--right .message-item__payload {
  background-color: var(--msg-payload-active-bg);
}

.loader {
  width: 28px;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--primary-color);
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

@media only screen and (max-width: 600px) {
  .message-item {
    max-width: 300px;
  }
}
